:css
  .question-block {
    margin-left: 30px;
    margin-top: 200px;
    font-size: 27px;
  }
  #status_bar{
    margin-top: 10px;
  }
  .chart{
    margin-top: 200px;
  }

  .percent {
    display: inline-block;
    line-height: 113px;
    margin-left: 14%;
    margin-top: 0;
    position: absolute;
    z-index: 2;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
:javascript
  $(function() {
    var status_bar = $( "#status_bar" ).progressbar({
      warningMarker: #{@seq_per},
      dangerMarker: 90,
      maximum: 100,
      step:  1
    });

    for(i=0; i<= #{@seq_per}; i++){
      $('#status_bar').progressbar('stepIt');
    }

    $('.chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text(Math.round(#{@correct_per}));
      },
      barColor: 'black'
      
    });
    var chart = window.chart = $('.chart').data('easyPieChart');
    chart.update( #{@correct_per} );

  });
.container
  .row
    .col-md-8.col-md-offset-1
      %h1{style: 'color: green'}= "Your answer was correct" if @correct_answer
      %h1{style: 'color: red'}= "Your answer was wrong" if @correct_answer == false
      #results
      .question-block
        %h1#question= @question.keys.first
        %div
          = form_tag "/words/answer" do
            = hidden_field_tag :question, @question.keys.first
            = hidden_field_tag :page, @page
            = hidden_field_tag :answer, @question[@question.keys.first][0].word_str
            = submit_tag "Option 1", class: 'btn btn-mini btn-success'
            %span#opt1= @question[@question.keys.first][0].word_str
        %div
          = form_tag "/words/answer" do
            = hidden_field_tag :question, @question.keys.first
            = hidden_field_tag :page, @page
            = hidden_field_tag :answer, @question[@question.keys.first][1].word_str
            = submit_tag "Option 2", class: 'btn btn-mini btn-success'
            %span#opt1= @question[@question.keys.first][1].word_str
        %div
          = form_tag "/words/answer" do
            = hidden_field_tag :question, @question.keys.first
            = hidden_field_tag :page, @page
            = hidden_field_tag :answer, @question[@question.keys.first][2].word_str
            = submit_tag "Option 3", class: 'btn btn-mini btn-success'
            %span#opt1= @question[@question.keys.first][2].word_str
        %div
          = form_tag "/words/answer" do
            = hidden_field_tag :question, @question.keys.first
            = hidden_field_tag :page, @page
            = hidden_field_tag :answer, @question[@question.keys.first][3].word_str
            = submit_tag "Option 4", class: 'btn btn-mini btn-success'
            %span#opt1= @question[@question.keys.first][3].word_str
        #status_bar
    .col-md-3
      .chart{ "data-percent" => 0}
        .percent
    .col-md-2
      %br/
      %br/
      %br/
      %br/
      = link_to "Previous", "/words/test?page=#{@page - 1}", class: 'btn btn-primary'